body {
    text-align: center;
    font-family: 'Hubballi', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* padding-bottom: 200px; */
    color: black;
    font-weight: bold;
  background-image: url("/images/park-background.png");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.settings-main-content-index {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding-right: 0px;
    background-image: url("/images/park-background.png");
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      transition: height .4s ease-out;
}

/* #settings-btn:focus > .settings-main-content-index {
    height: 800px;
    opacity: 1;
    transition: height .4s ease-in;
    position: relative;
    z-index: 1000;
}

#start-btn:focus > .settings-main-content-index {
    height: 0;
} */
/* .main-ui {
    margin: 0;
    display: grid;
    grid-template-areas: "h h h h h h"
                         "i i i i i i"
                         "o p p p p c"
                         "b b b b b b"; 
}*/
.main-ui {
    width: 100%;
    height: 100%;
}
#settings-btn {
    position: absolute;
    cursor: pointer;
    top: 60px;
    right: 10%;
    width: 100px;
    height: 25px;
    color: white;
    text-decoration: none;
    background-color:rgb(52, 101, 206);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.headBox {
    height: 100px;
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    /* background-color: rgba(224, 224, 26, 0.5); */
}
.problem-img-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(74, 116, 206); */

}
#avatar {
    width: auto;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}
/* .headBox {
    grid-area: n;
    height: 75px;
    width: 100%;
} */
h1 {
    font-size: 55px;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
    color:rgb(86, 185, 40);
    font-weight: bolder;
}

.problem-container {
    text-align: center;
}

.problem {
    visibility: hidden;
    font-size: 48px;
    padding: 20px;
    margin: 10px;
    background-image: url("images/bone-white.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* .problem input {
    padding: 10px;
} */

.problem-container button {
    width: auto;
    height: auto;
    color: white;
    text-decoration: none;
    background-color:rgb(86, 185, 40);
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    font-size: 1.5rem;
}
/* .radio {
    width: 20px;
    height: 20px;
}gi

.radio img {
    width: 20px;
    height: 20px;
} */

.our-field {
    width: 60px;
    height: 50px;
    font-size: 36px;
    text-align: center;
}

.points-tries {
    font-size: 24px;
}
.points-needed {
    margin-right: 20px;
}
#timer {
 height: auto;
 width: auto;
 color: black;
 font-weight: bold;
 font-size: 2rem;
 color: rgb(204, 7, 7);
}

.radioContainerIndex {
    /* border: 5px solid rgb(86, 185, 40); */
    /* background-color: rgb(52, 101, 206); */
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    position: absolute;
    top: 400px;
    left: 10px;
    text-align: left;
}
.timer-container {
    text-align: left;
}

.timer-container input {
    width: 50px;
}
.stop-timer {
    display: none;
}

button {
    margin-top: 5%;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
}

span.points-needed, span.mistakes-allowed {
    font-weight: bold;
}

.sec {
    font-weight: normal;
    font-size: 24px;
}

span.radio {
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.radioContainer {
    text-align: left;
    font-size: 2rem;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}
/* input[type="radio"] {
    visibility:hidden;
} */

table {
    /* border-collapse: collapse;
    border-style: hidden; */
    /* outline-offset: -2px; */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;  
  }
  table td {
    outline: 2px solid black;
    padding: 10px;
  }
#operator-image {
    margin-right: auto;
    margin-left: auto;
}
button {
    font-size: 24px;
}

.boxes {
    display: flex;
    width: 100%;
}
.progress-bar {
    padding-bottom: 10px;
    height: auto;
    /* background-color: rgb(158, 124, 79); */
}
.progress-bar h2 {
    padding: 5px;
    margin: 0;
}
.progress {
    width: 90%;
    background-image: linear-gradient(to right, red,yellow, green);
    /* transform: scaleX(0);
    transform-origin: center left;
    transition: width 1s linear; */
    border-radius: 5px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* background-image: linear-gradient(to right, red,yellow, green); */
    background-color:white;
    border-radius: 5px;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform .4s ease-out;
    /* background-color: white; */
    /* background-image: linear-gradient(to right, red,yellow, green); */
    /* opacity: .5; */
    
}
.box {
    height: 40px;
    width: 100%;
    /* border-right: 1px solid #c7c7c7; */
    /* flex: 1; */
}

.overlay {
    position: fixed;
    /* height: 100%;
    width: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .82);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* body.overlay-is-open .main-ui {
    filter: blur(4px);
} */

@keyframes showError {
    50% {
        color: red;
        transform: scale(1.2);
    }

    100% {
        color: black;
        transform: scale(1);
    }
}
.animate-wrong {
    animation: .33s showError;
}
@media screen and (max-width: 1000px) {
    #settings-btn {
        top: 10px;
        right: 5px;
        font-size: 1.25rem;
        width: auto;
        height: auto;
    }

    .headBox h1 {
        font-size: 45px;
        margin: 20px;
        padding-top: 25px;
        padding-bottom: 5px;
        font-weight: normal;
        color:rgb(86, 185, 40);
        font-weight: bolder;
    }
    /* #pug {
        padding-top: 100px;
    } */
}

@media screen and (max-width: 700px) {
    body {
        height: 100%;
    }
    .main-ui {
        height: 100%;
    }
    #avatar {
        width: auto;
        height: 150px;
    }
    /* #pug {
        padding-top: 30px;
    } */
    /* .overlay {
        height: 100vh;
    } */
    .problem {
        margin: 10px;
    }
 
    .headBox {
        height: auto;
        margin-bottom: 0px;
    }
    .problem-container button {
        margin: 0px;
        margin-top: 10px;
    }

    .headBox h1 {
        font-size: 45px;
        margin: 15px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: normal;
        color:rgb(86, 185, 40);
        font-weight: bolder;
    }

    .headBox {
        margin: 10px;
    }
}

/*Settings Page Styles*/
.settings-main-content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("images/park-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(224, 224, 134); */
    /* background-color: rgb(74, 116, 206);
    background:linear-gradient(0deg, rgba(16, 114, 206, 0.3), rgba(16, 114, 206, 0.3)), url("/images/bone-background.jpg"); */
}
.settings-boxes {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.settings-main-content h1 {
    width: 100%;
    /* background-color: rgb(74, 116, 206);
    background-color: rgb(224, 224, 134); */
    color:rgb(86, 185, 40);
    font-weight: bolder;
    padding: 10px;
}

.settings-main-content h2 {
    width: 100%;
    margin: 0;
    padding: 10px;
    /* background-color: rgb(74, 116, 206); */
}

.settings-main-content h3 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}
.radioContainer {
    /* border: 5px solid rgb(86, 185, 40); */
    /* background-color: rgb(52, 101, 206); */
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 10px 50px;
    margin: 10px;
}
.radioContainer h3 {
    text-align: center;
    font-size: 2.5rem;
}

.radioContainer input {
    opacity: 1;
}

table {
    background-color: rgb(86, 185, 40);
    background-color: rgb(85, 125, 212);
    background-color: rgb(52, 101, 206);
    color: white;
    font-size: 1.5rem;;
}

td:focus {
    background-color: gray;
}
.timer-container {
    display: block;
    /* border: 5px solid rgb(86, 185, 40); */
    background-color: rgb(52, 101, 206);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    border-radius: 5px;;
    padding: 10px 50px;
    margin: 10px;
    font-size: 1.75rem;
}
.timer-seconds-btn {
    padding: 30px;
}

.timer-head {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}
.timer-container button {
    width: 150px;
    height: auto;
    background-color: rgb(86, 185, 40);
    background-color: rgb(52, 101, 206);
    color: white;
}

.timer-container button:focus {
    background-color: rgb(3, 40, 119);
}
.avatar-container {
    display: block;
    /* border: 5px solid rgb(86, 185, 40); */
    background-color: rgb(52, 101, 206);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    border-radius: 5px;;
    padding: 10px 50px;
    margin: 10px;
    font-size: 1.75rem;
}
.avatar-container h3 {
    font-size: 2.5rem;
}
.avatar-img {
    width: auto;
    height: 150px;
    margin: 0px 10px;
    cursor: pointer;
}
/* .avatar-img:active {
    background-color: rgb(52, 101, 206);
} */
.number-choice-container {
    text-align: left;
    /* border: 5px solid rgb(86, 185, 40); */
    background-color: rgb(52, 101, 206);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    border-radius: 5px;;
    padding: 10px 50px;
    margin: 10px;
}
.number-choice-container input {
    width: 30px;
    height: 30px;
    opacity: 1;
    background-color: rgb(52, 101, 206);
}
.numbers {
    columns: 2;
    font-size: 2.75rem;
}

.start-btn {
    width: 100%;
    height: 100px;
    padding: 30px;
    font-size: 1.5rem;
}
#start-btn {
    width: auto;
    color: white;
    text-decoration: none;
    background-color:rgb(52, 101, 206);
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .start-btn {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
        font-size: 1.25rem;
    }
}

