body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* margin-right: 20px;
    margin-left: 20px; */
    color: white;
    background: url(/personalProjects/mathGame/images/chalkboard-background2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-ui {
    margin: 0;
    display: grid;
    grid-template-areas: "n n n n n n"
                         "h h h h h h"
                         "t p p p p o"
                         "c c c c c c"
                         "b b b b b b";
}
.headBox {
    grid-area: n;
    height: 75px;
    width: 100%;
}
h1 {
    grid-area: h;
    font-size: 36px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
}

.problem-container {
    grid-area: p;
    text-align: center;
}
.problem {
    font-size: 48px;
}
.our-field {
    width: 60px;
    height: 50px;
    font-size: 36px;
}
.points-tries {
    grid-area: c;
    font-size: 24px;
}
.points-needed {
    margin-right: 20px;
}

.timer-container {
    grid-area: t;
}

.timer-container input {
    width: 50px;
}
.stop-timer {
    display: none;
}

button {
    margin-top: 5%;
    opacity: .8;
    margin-right: auto;
    margin-left: auto;
}

span.points-needed, span.mistakes-allowed {
    color:white;
    font-weight: bold;
}

.sec {
    font-weight: normal;
    font-size: 24px;
}

input {
    opacity: .5;
    font-size: 24px;
}
span.radio {
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.radioContainer {
    grid-area: o;
    text-align: left;
}
button {
    font-size: 24px;
}

.boxes {
    display: flex;
    width: 100%;
}

.progress {
    grid-area: b;
    width: 90%;
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 234, 107);
    opacity: .5;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}
.box {
    height: 60px;
    border-right: 1px solid #c7c7c7;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .82);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .main-ui {
    filter: blur(4px);
}
@keyframes showError {
    50% {
        color: red;
        transform: scale(1.2);
    }

    100% {
        color: black;
        transform: scale(1);
    }
}
.animate-wrong {
    animation: .33s showError;
}

@media screen and (max-width: 800px) {
    body {
        margin: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .main-ui {
        grid-template-areas: "h h h h"
                             "p p p p"
                             "c c c c"
                             "b b b b"
                             "t t o o"
    }
    h1 {
        margin-top: 2%;
    }
}